{% extends 'base.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}
{% block body %}
<div class="cardCenter d-flex justify-content-center">
    <div class="card hover cardPlayer">
        <div class="card-img imgPlayer" style="background-image:url('{{asset('/uploads/images/' ~ player.image)}}')";>
            <div class="overlay">
                <div class="overlay-content">
                    <a class="aPlayer" href="{{ path('player_edit', { 'slug': player.slug }) }}">Edit Player</a>
                </div>
            </div>
        </div>
        <div class="card-content card-content-player">
                <h2 class="hPlayer text-center">{{ player.name }}</h2>
                    <ul id="listBio">
                        <li>{{ player.club }}'s Player</li>
                        <li>{{ player.age }} Years</li>
                        <li>{{ player.country }} National Team</li>
                        <li>{{ player.gamePlayed }} Games Played</li>
                        <li>{{ player.goalScored }} Goals Scored</li>
                        <li>{{ player.keyPass }} Decisive Passes</li>
                        <li>{{ player.goalScored / player.gamePlayed |round(-2, 'floor') }} Goals/Games Ratio</li>
                        <li>{{ player.keyPass / player.gamePlayed |round(-2, 'floor') }} Pass/Games Ratio</li>
                    </ul>
        </div>
    </div>
</div>

{% endblock %}
