{% extends 'base.html.twig' %}

{% block title %}Hello ClubController!{% endblock %}

{% block body %}
    <h2 class="text-center">Top 10 Scorer</h2>
    <div class="cardCenter d-flex justify-content-center">
        <div class="card hover cardPlayer">
            <div class="card-img imgPlayer" style="background-image:url('https://pbs.twimg.com/media/EfaQTf0WsAE6ERo.jpg');">
                <div class="overlay">
                    <div class="overlay-content">
                    </div>
                </div>
            </div>
            <div class="card-content card-content-player">
                <h2 class="hPlayer text-center">{{ club.name }}</h2>
                <ul id="listBio">
                    {% for goals in clubGoals %}
                        <li><a href="{{ path ('player_show', { 'slug': goals.slug}) }}"> {{ goals.name }} ({{ goals.gamePlayed }} / {{ goals.goalScored }})</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
